
a:-webkit-any-link{
text-decoration:none !important;
}
/* --GLOBAL--*/

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

footer {
  text-align: center;
  outline: none !important;
}

.fa {
  padding-right: 30px;
  color: white;
}
/* --Navbar--*/
nav.navbar-fixed {
  /* background: white; */
  /* border-color: : black; */
  /* box-shadow: none; */
  background-color: red;
}

nav ul a {
  text-decoration: none!important;
}
nav #brand-logo{
  text-decoration: none!important;

}


.dropdown-content{
    background-color: red !important;
    top: 50px !important;

}
.dropdown-content li{

}
