@font-face {
    font-family: "Avant Garde Gothic";
    src: url(avantgardegothic.woff);
}

body{
  color: black;
  font-family: 'montserrat';
}

nav{
  background-color: transparent !important;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  height: 80px !important;
  /* box-shadow: none !important; */

}

nav .nav-wrapper .brand-logos{
  float: left !important;
  /* padding-left: 20px !important; */
  /* padding-top: 20px !important; */
}



nav img{
  height: 64px !important;
}

nav ul a {
  color: black !important;
  font-family: 'Montserrat', sans-serif!important;
  /* padding-top: 30px !important; */
  font-size: 1.3rem !important;
}

nav .sidenav-trigger{
  color: blue;
  float: right !important;

}
