<nav class="navbar-fixed">

      <!-- <div class="nav-wrapper"> -->
        <a href="" id="brand-logo"> VANESSA TOSTADO </a>
        <a href="#" data-target="dropdown" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li onclick="scrollto('home');"><a>Home</a></li>
          <li onclick="scrollto('story');"><a>Timeline</a></li>
          <li onclick="scrollto('story');"><a>Portfolio</a></li>
          <li onclick="scrollto('portfolio');"><a>Hobbies</a></li>
        </ul>
      <!-- </div> -->
</nav>

<ul id='dropdown' class='dropdown-content'>
  <li onclick="scrollto('home');">HOME</li>
  <li onclick="scrollto('story');">STORY TIME</li>
  <li onclick="scrollto('portfolio');">PORTFOLIO</li>
  <li onclick="scrollto('fun');">FUN</li>
</ul>
