<nav class="navbar-fixed">

      <div class="nav-wrapper">
        <a href="#default" id="brand-logo"> VANESSA TOSTADO </a>
        <a href="#" data-target="dropdown" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li onclick="scrollto('home');"><a>A</a></li>
          <li onclick="scrollto('home');"><a>B</a></li>
          <li onclick="scrollto('story');"><a>C</a></li>
          <li onclick="scrollto('portfolio');"><a>D<a/></li>
        </ul>
      </div>
    </nav>



<ul id='dropdown' class='dropdown-content'>
  <li onclick="scrollto('home');">HOME</li>
  <li onclick="scrollto('story');">STORY TIME</li>
  <li onclick="scrollto('portfolio');">PORTFOLIO</li>
  <li onclick="scrollto('fun');">FUN</li>
</ul>

  <!-- <div class ="fixed-content">
    <img src="/images/profile.jpg" class = "profile" alt="Picture of Vanessa Tostado">
      <h1 id = "name">Vanessa Tostado</h1>
      <div class="icons">
          <a href="https://instagram.com/it.compiles" class="fa fa-instagram fa-lg " target="_blank"></a>
          <a href="https://twitter.com/VanessaTostado" class="fa fa-twitter fa-lg" target="_blank"></a>
          <a href="https://medium.com/@vtostado" class="fa fa-medium fa-lg" target="_blank"></a>
          <a href="https://www.linkedin.com/in/vanessa-t-b79880b1/" class="fa fa-linkedin fa-lg" target="_blank"></a>
          <a href="https://github.com/vtostado" class="fa fa-github fa-lg" target="_blank"></a>
      </div>
    </div> -->
