

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <!-- <div class="nav-wrapper"> -->
          <a href="" class="brand-logos"> <img src="images/logo.png" class="photo" alt="Avatar"> </a>
          <a href="#" data-target="dropdown" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id = "nav-mobile" class="right hide-on-med-and-down">
            <li onclick="scrollto('home');"><a>Who</a></li>
            <li onclick="scrollto('timeline');"><a>How</a></li>
            <li onclick="scrollto('portfolio');"><a>What</a></li>
            <li onclick="scrollto('why');"><a>Why</a></li>
          </ul>
        </div>
      <!-- </div> -->
    </nav>
  </div>



<ul id='dropdown' class='dropdown-content'>
  <li onclick="scrollto('home');">Who</li>
  <li onclick="scrollto('timeline');"> How</li>
  <li onclick="scrollto('portfolio');">What</li>
  <li onclick="scrollto('why');">Why</li>
</ul>
