<div class="portfolio">

  <div class="container">

<h3> Passion Projects</h3>

  <div class="row">

    <div class="col s4">
      <div class="card medium">
        <div class="card-image">
          <img src="images/vote.jpg">
          <span class="card-title">Vote.gov</span>

        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card medium">
        <div class="card-image">
          <img src="images/evo.png">
          <span class="card-title">Evo</span>

        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card medium">
        <div class="card-image">
          <img src="images/tagit.png">
          <span class="card-title">Tag it</span>

        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col s4">
      <div class="card medium">
        <div class="card-image">
          <img src="images/getfit.png">
          <span class="card-title">Get fit</span>

        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card medium">
        <div class="card-image">
          <img src="images/evo.png">
          <span class="card-title">Evo</span>

        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="images/evo.png">
          <span class="card-title">card mediumTitle</span>

        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
