<div class="timeline">
   <div class="container">

<!-- ENTRY 1-->
     <div class="row show-on-medium-and-up hide-on-small-and-down" id ="one">
       <div class="photo">
         <img src="images/timeline1.png" class="photo" alt="Avatar">
       </div>
       <div class="description">
         <h5>Software Engineer Fellow via Coding it Forward</h5>
         <span>[current]</span>
          <p>This summer, I'm working as a <span>Software Engineering Fellow </span> at the General Services Administration
            <span>developing features </span> for <span>Vote.gov</span> to display dates and deadlines for upcoming federal elections</p>
       </div>
     </div>
     <div class="row show-on-small-and-down hide-on-med-and-up" id ="one">
       <div class="description2">
         <h5>Software Fellow via Coding it Forward</h5>
         <span>[current]</span>
          <p>This summer, I'm working as a <span>Software Engineering Fellow </span> at the General Services Administration
            <span>developing features </span> for <span>Vote.gov</span> to display dates and deadlines for upcoming federal elections</p>
       </div>
     </div>
<!-- ENTRY 2 -->
     <div class="row show-on-medium-and-up hide-on-small-and-down" id ="two">
       <div class="photo">
         <img src="images/t2.png" class="photo" alt="Avatar">
       </div>
       <div class="description">
         <h5>Goodbye, Wesleyan!</h5>
         <span>[May 25, 2019]</span>
          <p>In 2015 I began my undergraduate studies at <span>Wesleyan University.</span>
            Four years later, I earned my degree in <span>Computer Science</span> making me the <span>first person in my family
            to graduate from college!</span> Thank you Wesleyan, for the friendships, traditions and Usdan dinning hall.
            <span>Go, Wes!</span> </p>
       </div>
     </div>

    <div class="row show-on-small-and-down hide-on-med-and-up" id ="two">
       <div class="description2">
         <h5>Goodbye, Wesleyan!</h5>
         <span>[May 25, 2019]</span>
          <p>In 2015 I began my undergraduate studies at <span>Wesleyan University.</span>
            Four years later, I earned my degree in <span>Computer Science</span> making me the <span>first person in my family
            to graduate from college!</span> Thank you Wesleyan, for the friendships, traditions and Usdan dinning hall.
            <span>Go, Wes!</span> </p>
       </div>
     </div>

<!-- ENTRY 3 -->

     <div class="row show-on-medium-and-up hide-on-small-and-down"  id ="three">
       <div class="photo">
         <img src="images/t4.png" class="photo" alt="Avatar">
       </div>
       <div class="description">
         <h5>EVO!</h5>
         <span>[Senior Spring Semester,  2019]</span>
          <p>I worked as a <span>programmer</span> for Evo, a <span>top-down action adventure game</span> that teaches the basics of evolution.
            It uses <span>open-world level design</span> and Metroidvania-style progression mechanics (i.e. you obtain new abilities to
            unlock previously inaccessible areas).</p>
       </div>
     </div>

     <div class="row show-on-small-and-down hide-on-med-and-up" id ="three">
       <div class="description2">
         <h5>EVO!</h5>
         <span>[Senior Spring Semester,  2019]</span>
          <p>I worked as a <span>programmer</span> for Evo, a <span>top-down action adventure game</span> that teaches the basics of evolution.
            It uses <span>open-world level design</span> and Metroidvania-style progression mechanics (i.e. you obtain new abilities to
            unlock previously inaccessible areas).</p>
       </div>
     </div>


<!-- ENTRY 4 -->

     <ul class="collapsible">
       <li>
         <div class="collapsible-header"><i class="material-icons">arrow_downward</i>See more</div>
       <div class="collapsible-body">
         <div class="row show-on-medium-and-up hide-on-small-and-down" id ="four">
         <div class="photo">
           <img src="images/hack.png" class="photo" alt="Avatar">
         </div>
         <div class="description">
           <h5>Random Hacks of Kindness </h5>
           <span>[April 27,2019]</span>
            <p><span>Mentored</span> a group of students for Random Hacks of Kindness. Together, using MIT App Inventor we <span>develop a prototype</span> for the <span>Foster Care Support Project</span> which
              connects to Wesleyan students to students in foster care.
              <span>Fun fact:</span> I built my first app using MIT App Inventor!</p>
         </div>
        </div>

        <div class="row show-on-small-and-down hide-on-med-and-up" id ="four">
          <div class="description">
            <h5>Random Hacks of Kindness </h5>
            <span>[April 27,2019]</span>
             <p><span>Mentored</span> a group of students for Random Hacks of Kindness. Together, using MIT App Inventor we <span>develop a prototype</span> for the <span>Foster Care Support Project</span> which
               connects to Wesleyan students to students in foster care.
               <span>Fun fact:</span> I built my first app using MIT App Inventor!</p>
          </div>
       </div>

<!-- ENTRY 5-->

       <div class="row show-on-medium-and-up hide-on-small-and-down" id ="five">
         <div class="photo">
           <img src="images/bda.png" class="photo" alt="Avatar">
         </div>
         <div class="description">
           <h5>Study Abroad: Budapest</h5>
           <span>[Junior Spring Semester, 2018]</span>
            <p>I spent a semester in <span>Budapest, Hungary</span> studying computer science at the <span>Aquincum Institute of Technology</span>. Besides traveling in in and out of Hungary, I spent my time learning Hungarian,
              making <span>android applications</span> and learning designing principles by designing “Find a Friend” Check out my vlogs :)</p>
         </div>
       </div>

       <div class="row show-on-small-and-down hide-on-med-and-up" id ="five">
         <div class="description">
           <h5>Study Abroad: Budapest</h5>
           <span>[Junior Spring Semester, 2018]</span>
            <p>I spent a semester in <span>Budapest, Hungary</<span> studying computer science at the <span>Aquincum Institute of Technology</span>. Besides traveling in in and out of Hungary, I spent my time learning Hungarian,
              making <span>android applications</span> and learning designing principles by designing “Find a Friend” Check out my vlogs :)</p>
         </div>
       </div>

<!-- ENTRY 6 -->

       <div class="row show-on-medium-and-up hide-on-small-and-down" id ="six">
         <div class="photo">
           <img src="images/code2.png" class="photo" alt="Avatar">
         </div>
         <div class="description">
           <h5>Linkedin</h5>
           <span>[Summer, 2015]</span>
            <p>I was amongst the first cohort of girls to participate in <span>Linkedin’s High School Trainee program.</span>
              Over the course of 7-8 weeks I developed technical and professional skills by working alongside a team.
              This <span>experience was key</span> in forming my decision to pursue CS and become a Software Engineer.</p>
         </div>
       </div>

       <div class="row show-on-small-and-down hide-on-med-and-up" id ="six">
         <div class="description">
           <h5>Linkedin</h5>
           <span>[Summer, 2015]</span>
            <p>I was amongst the first cohort of girls to participate in <span>Linkedin’s High School Trainee program.</span>
              Over the course of 7-8 weeks I developed technical and professional skills by working alongside a team.
              This <span>experience was key</span> in forming my decision to pursue CS and become a Software Engineer.</p>
         </div>
       </div>
<!-- ENTRY 7 -->

       <div class="row show-on-medium-and-up hide-on-small-and-down" id ="seven">
         <div class="photo">
           <img src="images/timeline1.png" class="photo" alt="Avatar">
         </div>
         <div class="description">
           <h5>Hello, World!</h5>
           <span>[October-August, 2013]</span>
            <p>I was only a sophomore in high school when I had my major <span>breakthrough</span> into the tech.
              I joined the <span>Technovation challenge</span> where my team <span>built Tag it</span>, an application that addresses
              vandalism in East Palo Alto. I was mesmerized by the reach and impact Tag It had on <span>my community</span>,
              and I haven’t looked back since!</p>
         </div>
       </div>
       <div class="row show-on-small-and-down hide-on-med-and-up" id ="seven">
         <div class="description">
           <h5>Hello, World!</h5>
           <span>date</span>
            <p>This div is 7-columns wide on pushed to the right by 5-columns.</p>
         </div>
       </div>
       </div>
       </li>
      </ul>
     </div>
   </div>

   <script type="text/javascript">

     // for (i = 0; i < n.length-1; i++) {
     // var distance = $('#' + '2').offset().top - $('#' + '1' ).offset().top;
     // console.log( distance);
     // var  vls = document.getElementsByClassName("vl" );
     // for (k = 0; k < vls.length; k++) {
       // vls[k].style.height = distance +  "px";



   document.addEventListener('DOMContentLoaded', function() {
  var elems = document.querySelectorAll('.collapsible');
  var selector =  document.querySelectorAll('.collapsible-header');
  // var  vl2 = document.getElementsByClassName("vl2" );
  // console.log(selector);
  var instances = M.Collapsible.init(elems, {onOpenStart: function () {
        // console.log("I trigger as soon as the page is loaded");
        selector[0].style.display = "none";
        // vl2[0].style.height = distance +  "px";

    }})


});

   </script>
