{{ partial "head.html" .}}
<body>

{{ partial "navbar.html" .}}

<div class="parallax-container">
  <div class="parallax"><img src="images/coral.jpg"></div>

</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="images/blue.jpg"></div>
</div>
<!-- <div class="parallax-container">
  <div class="parallax"><img src="images/teal.jpg"></div>
</div> -->



<!-- <div class="home">
  </div> -->
<!-- <p class="line-1 anim-typewriter">Hello, World!</p> -->
<!-- <img src="/images/profile.jpg" class = "profile" alt="Picture of Vanessa Tostado"> -->
  <!-- <h1 id = "about_me">About Me </h1>
<p id = "content" >
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
</div> -->

<!-- <div class="story"> -->

<!-- <div class = "story-container">
  <div data-aos="fade-right"
    data-aos-offset="100"
    data-aos-easing="ease-in-sine">lorem Ipsum is simply dummy text of the printing and typesetting industryorem Ipsum is simply dummy industry.</div>
</div> -->
<!-- <div class="container">
  <div class="row">
    <div class="col s6">
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum

    </div>

  </div>

</div> -->

<!-- </div> -->

{{ partial "timeline.html" .}}

{{ partial "portfolio.html" .}}
<div class="fun"></div>

{{ partial "footer.html" .}}

</body>
